@import "variables";
@import "mixins";
@import "fonts";
@import "icons";


$font-family-sans-serif:  'Assistant', sans-serif;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}
body, html {
  height: 100%;
}

.a-dark:hover {
  color: $black;
  background-color: $white;
  border-radius: 5px;
  text-decoration: none;
}
.a-dark {
  background-color: $black;
  color: $white;
}
.pointer {
  cursor: pointer;
}

// Your variable overrides
$body-bg: $white;
$body-color: $black;
$gray-900: $black;

.icon:hover {
  color: $black;
  background-color: $white;
}
.icon {
  cursor: pointer;
  border-radius: 25%;
  background-color: $black;
  color: $white;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@include media-breakpoint-up(xs) {
  html { font-size: 15px;}
}
@include media-breakpoint-up(sm) {
  html { font-size: 15px; }
}
@include media-breakpoint-up(md) {
  html { font-size: 18px; }
}
@include media-breakpoint-up(lg) {
  html { font-size: 18px; }
}
